@media (min-width: 1200px) {
  .cities__places-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .cities__places {
    height: 800px;
    overflow-y: scroll;
  }
}